body
  padding-top 69px

.navbar
  min-height 55px

.navbar-header a.navbar-brand
  margin-top -5px
  margin-bottom -20px
  color #e4eef2
  h6
    color #e4eef2
    padding-bottom -15px

.navbar-inverse
  background-color #33B8E6
  .navbar-nav
    & > li
      & > a
        color #e4eef2
        &:hover
          color #666243

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
  background-color #12A5F4

.footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #72AFA1

.navbar-form
  .form-group
    margin-left 10px
    margin-top 5px
  .form-control
    border-color #72AFA1
  button
    margin-left 10px
    margin-top 5px
  .btn-primary
    background-color #666243

