.container
    table.table
        tr  User List
            td displayName
            td roles
        tr(ng-repeat="user in vm.users")
            td {{user.usr_display}}
            td(ng-repeat="role in user.roles") {{role}}

