.container
    table.table
        tr  User List
            td username
            td display
            td last visited
            td roles
        tr(ng-repeat="user in vm.users")
            td {{user.username}}
            td {{user.display}}
            td {{user.visited | date:"dd/MM/yy HH:mm" }}
            td(ng-repeat="role in user.roles") {{role}}

